body {
  max-width: 300px;
  margin: 96px auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
}

.checkbox {
  margin: 0 12px;
}

.index {
  margin-left: auto;
  margin-right: 12px;
}

.border {
  border: 1px solid gray;
}

.input {
  width: 282px;
  height: 60px;
  border: 1px solid gray;
  padding: 0 0 0 16px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
}

.displayNone {
  display: none;
}

.editField {
  max-width: 196px;
  margin: 18px auto 18px 0;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
}

.remove {
  margin-right: 18px;
}

button {
  background-color: green;
  color: white;
  margin: 0;
  border: 1px solid gray;
  padding: 10px 92px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 600;
}
